@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*, :after, :before {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 solid #e5e7eb;
    
}

body {
    font-family: inherit;
    line-height: inherit;
}

html{
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    color: #243e63;
}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    color: #7c8ba1;
}

.wrapper{
    padding: 32px;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Inter', system-ui;
}


ul{
    list-style: none;
}

li{
    list-style-type: none;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    padding: 80px 0;
}

.purple{
    color: #6415ff;
}

button{
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

img {
    border-style: solid;
}

img, video {
    height: auto;
    max-width: 100%;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

div{
    display: block;
}

.section__title {
    margin-bottom: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
    font-size: 16px;
    letter-spacing: 0.1em;
}

.section__heading {
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
    line-height: 1.25;

}

.section__description {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
    text-align: center;
}

.text__left {
    text-align: left;
}
.learn-more__button {
    font-weight: 700;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    transition-duration: 300ms;
    margin-top: 2rem;
    font-size: 0.875rem;
    border-radius: 9999px;
    margin-right: auto;
    cursor: pointer;
    padding: 12px 32px;
    margin-top: 32px;

}

.learn-more__button:hover {
    filter: brightness(70%);
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}


/* BLOBS */

.section1-blob {
    --tw-translate-x: -66.67%;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    pointer-events: none;
    opacity: 0.05;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 16rem;
    width: 16rem;
    z-index: -10;
}

.section2-blob {
    --tw-translate-x: 8rem;
    --tw-translate-y: 12rem;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    pointer-events: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: 0.25;
}

.section3-dots {
    --tw-translate-x: 50%;
    --tw-translate-y: 50%;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: currentcolor;
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
    z-index: -10;
}


/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
    padding: none;
}

.logo__container{
    display: flex;
    align-items: center;
    margin: 0 24px 0 0;
    padding: 0 0 4px 0;
    cursor: pointer;
}

.logo__container:hover .header__logo--link {
    color: #6415ff;
}


.nav__link--list{
    display: flex;
    align-items: center;
    padding: none;
    margin: none;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link {
    color: #243e63;
    font-weight: 600;
    font-size: 14px;
    transition: all 300ms ease;
    cursor: pointer;
    position: relative;
    margin: 0 24px;
    padding: 0 0 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.nav__link:hover{
    color: #6415ff;
    border-bottom: 2px solid #6415ff;
}

.nav__link--primary{
    border-radius: 9999px;
    border: solid #6415ff;
    color: white;
    background-color: #6415ff;
    padding: 12px 32px;
    margin: 0;
}

.nav__link--primary:hover{
    filter: brightness(75%);
}


/* HEADER */

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo--img{
    margin: 0 12px 0 0;
    width: 40px;
    height: 40px;

}

.header__logo--link {
    font-size: 24px;
}

/* LANDING */

#landing{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 96px 0;
}

.landing__column{
    width: 40%;
}


.landing__header{
    font-size: 30px;
    color: #1a202c;
}

.landing__para{
    color: #243e63;
    font-size: 16px;
    margin: 32px 0;
}

.landing__form{
    display: flex;
    overflow: hidden;
    cursor: text;
    background-color: #FFFFFF;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    border-radius: 9999px;
    border: 2px solid lightgray;
    font-weight: 500;
    transition: border ease 300ms;
}

.landing__form--btn {
    border-radius: 9999px;
    line-height: 1;
    width: 60%;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms ease;
    cursor: not-allowed;
    border: none;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    font-weight: 700;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.landing__form--btn:hover{
    filter: brightness(75%);
}

.email-box{
    border: none;
    padding-left: 2rem;
    width: 100%;
    font-weight: 500;
    transition: all 300ms ease;
}

.email-box:focus {
    outline: none;
}

.customer__logo--img {
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
    padding-right: 4rem;
}

.landing__customers--para{
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
    font-size: 0.75rem;
}

.landing__customers {
    margin-top: 48px;
}

.landing__img--wrapper{
    width: 60%;
    position: relative;
}

.landing__img {
    min-width: 0px;
    width: 100%;
    max-width: 32rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* FEATURES */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .section__heading {
    text-align: center;
    font-size: 48px;
}


.features__column {
    display: flex;
    width: calc(100%/3);
    padding: 32px 24px;
    align-items: flex-start;
    height: 100%;
}


.features__subheading{
    margin-bottom: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
    text-align: center;
}

.features__subheading--text{
    color: #6415ff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    --tw-text-opacity: 1;
    font-size: 16px;
    text-align: center;
}

.features__heading {
    width: 100%;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: .025em;
    text-align: center;
    font-size: 48px;
}

.features__heading--text {
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
}



.features__vertical--spacer{
    margin-top: 2.5rem;
    width: 100%;
}


.service__title {
    color: #243e63;
    margin-top: 16px;
    letter-spacing: .025rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
}

.service__description {
    margin-top: 16px;
    font-weight: 500;
    line-height: 2;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.image__container {
    border-width: 1px;
    border-radius: 9999px;
    padding: 1.25rem;
    flex-shrink: 0;
}

.text__container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 8px;
}

/* 

QUALITY WORK

*/

.quality-work {
    display: flex;
}

.quality__work--description {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.quality__work--img__wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.quality__work--img {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
}

.quality-work__button {
    margin: 32px 0 0 0;
    width: auto;
    padding: 12px 32px;
    font-size: 14px;
}

/* STEPS */

.steps__container {
    position: relative;
}

.steps__row {
    display: flex;
}

.steps__para .section__heading {
    font-size: 48px;
    margin-top: 16px;
}

.steps__img--wrapper {
    flex-shrink: 0;
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__img {
    border-radius: 4px;
}

.steps__para{
   width: 50%;
   padding: 32px 0;
   margin-left: 4rem;
    
}

.steps__list {
    display: flex;
    flex-direction: column;
}

.steps {
    margin-top: 32px;
    display: flex;

}

.step__number {
    font-weight: 600;
    font-size: 36px;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgba(203,213,224,var(--tw-text-opacity));
}

.step__text {
    margin-left: 24px;
}

.step__heading {
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    max-width: 320px;
    line-height: 2;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    font-weight: 500;
}

/* VALUES */

.values__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;
    align-items: center;
    margin: 0 auto;
}


.values {
    display: flex;
    padding-bottom: 32px;
    
}


.values__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.values__para {
    width: 50%;
}

.values__para .section__heading {
    margin-top: 16px;
    font-size: 48px;
}

.value__img--wrapper1 {
    margin: 0 1.86px;
    display: inline-block;
    --tw-border-opacity: 1;
    border-color: rgba(100,21,255,var(--tw-border-opacity));
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(154,230,180,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(39,103,73,var(--tw-text-opacity));
}

.value__title--heading {
    margin-left: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.values__description {
    margin-top: 32px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper2 {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    --tw-border-opacity: 1;
    border-color: rgba(100,21,255,var(--tw-border-opacity));
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(254,178,178,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(155,44,44,var(--tw-text-opacity));
}

.value {
    margin: 32px 32px 0 0;
}

.value__description {
    margin-top: 16px;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
}




/* PLANS */

.pricing__container .section__heading {
    text-align: center;
    font-size: 48px;
}


.pricing__subheader {
    text-align: center;
    margin-bottom: 16px;
}

.pricing__header--container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__plans--container {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0rgba(0,0,0,0.1),0 1px 2px 0rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    position: relative;
    padding-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(26,32,44,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.pricing__description {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    font-size: 18px;
    max-width: 576px;
}

.plan__highlight1 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.625;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__features {
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;
    border-top-width: 2px;
    border-bottom-width: 2px;
    flex: 1 1 0%;
}



.plan__action {
    padding: 32px 16px;
}

.buy__now--button1 {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 0.875rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 0.75rem 2rem;
    font-weight: 700;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    transition-duration: 300ms;
}

.plan__header .name {
    font-weight: 700;
    font-size: 20px;
}

.plan__header .price {
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 36px;
}

.plan__header .duration {
    font-weight: 700;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
}

.personal__plan {
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    position: relative;
    padding-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(26,32,44,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
}

.business__plan {
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    position: relative;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
}

.plan__highlight2 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.enterprise__plan {
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    position: relative;
    padding-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(26,32,44,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
}

.feature:first-child {
    margin-top: 0px;
}

.feature:not(.mainFeature) {
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
}

.mainFeature {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.business__plan .feature {
    color: rgba(226,232,240,var(--tw-text-opacity)) !important;
}

.feature {
    margin-top: 20px;
    font-weight: 500;
}

.buy__now--button2 {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 0.875rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition-duration: 300ms;
    --tw-bg-opacity: 1;
    background-color: rgba(247,250,252,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
}

.buy__now--button3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    transition-duration: 300ms;
    --tw-bg-opacity: 1;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 0.75rem 2rem;
    font-weight: 700;
}

/* TESTIMONIALS */


.testimonials {
    display: flex;
    justify-content: space-between;
}

.testimonial__description {
    width: 60%;
    padding-left: 64px;
}

.testimonials__container {
    padding: 80px 0;
}

.testimonial__img {
    border-radius: 4px;
}

.testimonial__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__description .section__heading {
    margin-top: 16px;
    font-weight: 900;
    line-height: 1.25;
    text-align: left;
}

.testimonial__description .section__description {
    margin-top: 24px;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    text-align: left;
}





.star__icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(246,173,85,var(--tw-text-opacity));
    fill: currentcolor;
    margin-right: 0.25rem;
}

.testimonial__heading {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
}

.customer__quote {
    margin-top: 16px;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(74,85,104,var(--tw-text-opacity));
    margin-bottom: 32px;
}

.customer__info--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer__info {
    display: flex;
}

.customer__img {
    border-radius: 9999px;
    width: 80px;
    height: 80px;
}

.customer__text--info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
}


.customer__name {
    font-weight: 700;
    font-size: 20px;
}

.customer__title {
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    font-size: 16px;
}

.customer__review {
    margin-top: 40px;
}

.panel__controls {
    display: flex;
}

.control__button {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 1rem;
    border-radius: 9999px;
    transition-duration: 300ms;
    --tw-bg-opacity: 1;
    background-color: rgba(237,242,247,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
}

.control__button svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 3;
}

.panel__controls .divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
}

/* FAQS */

.faqs__header--container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__container .section__heading {
    text-align: center;
    font-size: 48px;
}

.faqs__list--container {
    margin-top: 48px;
    max-width: 896px;
    position: relative;
}

.question {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    cursor: pointer;
    user-select: none;
    margin-top: 1.25rem;
    padding: 1.25rem 2rem;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(45,55,72,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(237,242,247,var(--tw-bg-opacity));
    transition-duration: 300ms;
}

.question__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__text {
    font-size: 1.125rem;
    font-weight: 600;
}

.question__toggle--icon {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    margin-left: 8px;
    transition-duration: 300ms;
}

.question__toggle--icon svg {
    width: 24px;
    height: 24px;
}

.answer {
    pointer-events: none;
    font-size: 0.875rem;
    line-height: 1.625;
}

/* GET STARTED */ 

.getstarted__container {
    margin-bottom: 80px;
}

.getstarted__row {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
}

.getstarted__background--container {
    padding: 80px 0;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    border-radius: 8px;
    position: relative;
}

.getstarted__text--row {
    padding: 0px 32px;
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-direction: column;
    text-align: center;
}

.getstarted__text--container {
    max-width: 512px;
}

.getstarted__text {
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    font-size: 30px;
    font-weight: 700;
}

.getstarted__links--container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.getstarted-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 66px;
    max-width: 175px;
    width: 100%;
    padding: 20px 40px;
    border-radius: 9999px;
    font-weight: 700;
    color: white;
}

.getstarted1 {
    margin-right: 32px;
    background-color: rgb(245, 101, 101);
    transition: all 300ms ease 0s;
}

.getstarted2 {
    background-color: rgb(100, 21, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: all 300ms ease 0s;
}

/* FOOTER */ 

.footer__container {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    margin-bottom: -2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 5rem 2rem
}






/* SMARTPHONES, TABLETS, LARGE PHONES */

@media (min-width: 1024px) {
    .testimonials__container {
        padding-top: 96px 0;
    }

    .testimonial__description {
        padding-left: 64px;
    }

    .section__heading {
        font-size: 48px;
    }
}


@media (min-width: 768px) {
    .testimonial__description {
        width: 58.3333%;
        margin-top: 0px;
        padding-left: 3rem;
        order: 9999;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }

    .section__heading {
        text-align: left;
    }

    .customer__info--container {
        text-align: left;
    }
}


@media (min-width: 640px) {
    .section__heading {
        font-size: 36px;
    }

    .customer__info--container {
        flex-direction: row;
    }
}